
.recipe-details {
    width: 50%; 
    float: right; 
    padding: 20px; 
    box-sizing: border-box; 
  }

.recipe-list {
    width: 50%; 
    float: left; 
    padding: 20px; 
    box-sizing: border-box; 
}
  
.ingredients-textarea {
  width: 100%;  /* Full width of the parent container */
  height: 150px; /* Adjust height as needed */
  resize: vertical; /* Optional: allows vertical resizing */
  float: left; 
}

label {
  font-weight: bold;
  margin: 10px 0 5px;
  color: #555;
}

.recipe-create form {
  display: flex;
  flex-direction: column; /* Stack form fields vertically */
  gap: 5px; /* Space between form elements */
}